.button_group {
    margin: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
  }
  
  .button_group button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    grid-column: span 1;
  }
  
  .button_group button:hover {
    background-color: #ff9d00;
    color: #222;
  }
  
  .form {
    margin: 30px 0;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px 15px;
  }
  
  .label_cliente {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .input_cliente {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #8d8c8c;
    border-radius: 4px;
    box-sizing: border-box;
    /* font-size: 1em; */
    font-size: 18px;
    background-color: #f9f9f9;
  }
  
  .button_submit {
    padding: 10px 20px;
    background-color: #ff9d00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    grid-column: span 1;
    grid-area: 1 / 8 / 2 / 9;
  }
  
  .button_submit:hover {
    background-color: #dd8800;
    color: #222;
  }
  
  .button_cancel {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    grid-column: span 1;
    grid-area: 1 / 7 / 2 / 8;
  }
  
  
  .button_cancel:hover {
    background-color: #ff9d00;
    color: #222;
  }
  
  .grid {
    display: contents;
  }
  
  .grid_item {
    display: flex;
    flex-direction: column;
  }
  
  .grid_item_small_2 {
    grid-column: span 2;
  }
  
  .grid_item_small {
    grid-column: span 3;
  }
  
  .input_small_select {
    flex: 1;
  
  }
  
  .grid_item_medium {
    grid-column: span 4;
  }
  
  .grid_item_large {
    grid-column: span 6;
  }
  
  .grid_item_observacoes {
    grid-column: span 12;
  }
  
  .grid_item_descricao {
    grid-column: span 8;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .th,
  .td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .th {
    background-color: #333;
    color: white;
  }
  
  .td {
    background-color: #fff;
  }
  
  .select_cliente {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #8d8c8c;
    border-radius: 4px;
    box-sizing: border-box;
    /* font-size: 1em !important; */
    font-size: 18px;
    background-color: #f9f9f9;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    cursor: pointer;
  }
  
  .select_cliente:hover {
    border-color: #ff9d00;
  }
  
  .select_cliente:focus {
    border-color: #ff9d00;
    outline: none;
  }
  
  .input_cliente:focus {
    border-color: #ff9d00;
    outline: none;
  }
  
  
  
  .input_medium_select {
    flex: 2;
  }
  
  .footer_form {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
    margin: 100px 40px;
  }
  
  
  /* MODAL */
  .closeButton {
    color : pink
  }

  body.swal2-shown > [aria-hidden='true'] {
    transition: 0.1s filter;
    backdrop-filter: blur(10px);
  }

  .modal {
    position: relative;
    width: 50%;
    height: 50vh;
    margin: auto;
    background-color: rgba(255, 29, 55);
    border: 2px solid black;
    outline: none;
    border-radius: 20px;
    z-index: 999;


    /* transition: 0.5s ease-in; */
    /* border: yellowgreen solid 14px; */
  }

  .content_modal{
    position: absolute;
    inset: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .header_modal{

    background-color: yellow;
  }
  
  .body_modal{

    background-color: blue;
  }
  
  .footer_modal{

    background-color: yellow;
  }
  
  .fieldset{
    display: flex;
    flex-direction: column;
  }
  
  .label{
    font-size: 20px;
    padding: 10px;
  }
  
  .input{
    padding: 15px;
    font-size: 20px;
  }
  
  .button{
    padding: 15px 30px;
    margin: 10px;
  }
  
  
  .fechar{
    background-color: transparent;
    
  }
  .confirmar{
    background-color: rgb(9, 255, 5);
  }
  
  
  
  .swal2-container.swal2-backdrop-show {
    backdrop-filter: blur(10px); /* Ajuste o valor de blur conforme necessário */
  }
  
  .blur-backdrop {
    background: rgba(0, 0, 0, 0.4); /* Adiciona um fundo semitransparente */
  }
  

  .content_section .swal2-shown > [aria-hidden='true'] {
    transition: 0.1s filter;
    filter: blur(3px);
  }

 .modal_overlay{
  position: fixed;
inset: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);

  outline: none;

  z-index: 999;
  justify-content: center;
  align-items: center;
  display: flex;
  backdrop-filter: blur(30px);
 }

 .modal{
  width: 50%;
  height: 50%;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
 }

 .btnClose{
  position: absolute;
  top: 10px;
  right: 10px;
 }

 .lorem{
  height: 50%;
  width: 100%;
  background-color: rgba(59, 0, 0, 0.7);
  margin: auto 0;
 }

 .mdi__close {
  display: inline-block;
  width: 25px;
  height: 25px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.swal2-progress-steps .swal2-progress-step {
  background-color: red; /* Alterar para a cor desejada */
}

.body {
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
}

.container {
  width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
}

.h2 {
  text-align: center;
  margin-bottom: 20px;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.option-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-group label {
  margin-bottom: 5px;
}

.option-group input[type="radio"] {
  margin-right: 5px;
}

.input-field {
  margin-bottom: 20px;
}

.nput[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #5cb85c;
  color: #fff;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.th, .td {
  padding: 10px;
  text-align: left;
  border: 1px solid #666;
}