/* .customModalContent {
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: yellowgreen;
  }
  
  .radioGroup {
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  .radioGroup input {
    margin-right: 10px;
  }
  
  .buttonGroup {
    margin-bottom: 15px;
  }
  
  .buttonGroup button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .buttonGroup button:hover {
    background-color: #45a049;
  }
  
  .textareaGroup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */

  /* .radioGroup {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .radioGroup h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
  }
  
  .option-group h3 {
    color: #444;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    
  }
  
  .option-group label {
    display: block;
    margin-bottom: 5px;
    
    color: #555;
    align-items: start;
    text-align: start;
  }
  
  .input-field {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-field input {
    padding: 10px;
    width: 80%;
    font-size: 1rem;
  }
  
  .radioGroup button {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .radioGroup table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .radioGroup th, .radioGroup td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .radioGroup th {
    background-color: #f2f2f2;
    color: #333;
  } */

  .radioGroup {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .radioGroup h2 {
    color: #333;
    text-align: center;
    font-size: 30px;
    margin-bottom: 3%;
    font-weight: bold;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 25px; */
    margin: 35px auto;

    /* background-color: yellowgreen; */
  }
  
  .option-group {
    flex: 1;
    width: 1fr;
    padding: 0 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* background-color: red; */
    
    /* border-right: 1px solid black; */
  }

  .hr{
    width: 1px;
    height: 100px;
    background-color: black;
  }

  .hr2{
    width: 100%;
    height: 2Px;
    background-color: #FF9D00;
    outline: none;
    border: none;
    
  }

  .radioGroup h2{
    margin-bottom: 0;
  }

  .option-group-1 {
    flex: 1;
    width: 1fr;
    padding: 0 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* background-color: rgb(0, 26, 255); */
  }

  .option-group-2 {
    flex: 1;
    width: 1fr;
    padding: 0 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* background-color: rgb(255, 0, 255); */
  }

  .option-group-grid {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* justify-content: center; */
    /* background-color: green; */
  }

  .option-group-grid-filtro {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 60%;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    margin: auto;
  }

  .option-group-grid-situacao {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 60%;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    margin: auto;
    
  }

  .label{
   
    width: 1fr;
  }
  
  .option-group  h3 {
    color: #444;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  
  .option-group label {
    display: inline-block;
    /* margin-right: 10px; */
    color: #555;
  }
  
  .input-field {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-field input {
    padding: 10px;
    width: 80%;
    font-size: 1rem;
  }
  
  .radioGroup button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #FF9D00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .radioGroup table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .radioGroup th, .radioGroup td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .radioGroup th {
    background-color: #f2f2f2;
    color: #333;
  }

  .mdi--close {
    display: inline-block;
    width: 3em;
    height: 3em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    z-index: 1000;
    cursor: pointer;
  }

  .swal2-icon.swal2-success {
    border-color: #FF9D00; /* Cor da borda do círculo */
  }
  .swal2-icon.swal2-success .swal2-success-ring {
    border-color: #FF9D00; /* Cor do anel de sucesso */
  }
  .swal2-icon.swal2-success .swal2-success-fix {
    background-color: #FF9D00; /* Cor da correção de sucesso */
  }
  .swal2-icon.swal2-success [class^='swal2-success-line'] {
    background-color: #FF9D00; /* Cor das linhas de sucesso */
  }